# Default ignored files
/../../Lab 3 /.idea/shelf/
/../../Lab 3 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Lab 3 /.idea/httpRequests/
# Datasource local storage ignored files
/../../Lab 3 /.idea/dataSources/
/../../Lab 3 /.idea/dataSources.local.xml
